mat-toolbar {
  justify-content: space-between;
  font-family: 'Times New Roman',
    Times,
    serif;

  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 25px;
  justify-content: center;
  font-size: 15px;
}

.text {
  margin-top: 5px;
}
