mat-toolbar {
  justify-content: space-between;
  width: 100%;
  color: white;
  font-family: 'Times New Roman',
        Times,
        serif;
}

.avatar {
  color: white;
  width: 35px;
  height: 35px;
}

.btn {
  color: white;
  width: 35px;
  height: 35px;
}



