<!-- <div class="main-container">
  <app-header></app-header>
  <section>
    <router-outlet></router-outlet>
  </section>
</div> -->

<div>
  <app-header [InputSidenav]="sidenav" *ngIf="showToolbar"></app-header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <app-sidenav *ngIf="showSidenav"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer *ngIf="showFooter"></app-footer>
</div>
