<div *ngIf="loaderService.isLoading | async" class="spin">
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Chargement...</p>
  </ngx-spinner>
</div>

<!-- <div class="col-lg-12 stretch-card">
  <div class="card mat-elevation-z5">
    <div class="card-body">
      <h4 class="card-title bold">Liste des utilisateurs</h4>
      <div class="table-responsive pt-3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="bold">#</th>
              <th class="bold">Id</th>
              <th class="bold">Nom</th>
              <th class="bold">Prenom</th>
              <th class="bold">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let don of donnees; let i = index"
              style="cursor: pointer"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ don.id }}</td>
              <td>{{ don.first_name }}</td>
              <td>{{ don.last_name }}</td>
              <td>{{ don.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->

<div class="mt-3">
  <div class="card mat-elevation-z4">
    <div color="primary" class="card-header text-white">
      Liste des utilisateurs
    </div>

    <div class="card-body">
      <div class="table-responsive pt-3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="bold">#</th>
              <th class="bold">Id</th>
              <th class="bold">Nom</th>
              <th class="bold">Prenom</th>
              <th class="bold">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let don of donnees; let i = index"
              style="cursor: pointer"
              (click)="openParticularActivity(don)"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ don.id }}</td>
              <td>{{ don.first_name }}</td>
              <td>{{ don.last_name }}</td>
              <td>{{ don.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<br />
<br />

<div class="col-lg-12 stretch-card">
  <div class="card carte mat-elevation-z4">
    <div class="card-body">
      <div class="divChart">
        <canvas id="graphe2" width="400" height="400"> </canvas>
      </div>
    </div>
  </div>
</div>
